<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
       <add key="cmpi-iban" value="PT5058234544477" />
       <add key="cmpi-nif" value="0547474999" />
       <add key="tmais-user" value="tmais.user" />
       <add key="tmais-cmoi" value="tmais.cmoi" />
       <add key="grpc-port" value="5000" />
       <add key="message-ip" value="13.80.133.138" />
       <add key="bkis-ip" value="52.166.220.102:7070" />
   </appSettings>
</configuration>